.errmsg{
	padding: 5px 5px;
	border-left: 10px solid red;
    background-color: mintcream;
	text-align: center;
	
}
* {
	    font-family: 'Bangla', Arial, sans-serif;
		font-size: 20px;
}
a:link {
    text-decoration: none;
}
.signin_form{
	text-align: center;
	
	
}

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

#questionpaper{
	margin: 5% 20% 20% 20%;
}
#details{
	margin: 5% 5% 5% 5%;
}



.profile{
	border-left: 6px solid blue;
    background-color: mintcream;
}
.edit_profile_form{
	text-align: center;	
	
}
.signup_form{
	text-align: center;
	
}
input[type=text]{
	size: 30;
}
.button{
    background-color: white;
    color: black;
	
    width: 220px;
	height: 40px;
	align-items: center;
	margin: 2px 0px;

	border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
	width: 220px;
	height: 40px;
	align-items: center;
	cursor: pointer;
}

.highlight{
	background-color: #555555;
    color: white;
	width: 220px;
	height: 40px;
	align-items: center;
}
.examfilter{
	margin: 50px 50px 50px 50px;
}
.selector {
background-color: white;
    color: black;
    width: 100px;
	height: 30px;
	align-items: center;
	border: 2px solid #555555;
	
}
.selector:hover {
  background-color: white;
    background-color: #555555;
    color: white;
	width: 100px;
	height: 30px;
	align-items: center;
	cursor: pointer;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
